*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --font-color:#ececec;
    --background-color: rgb(15, 15, 15);
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;

    text-decoration: none;
    list-style: none;
    background-color: var(--background-color);
    height: 10vh;

}

ul{
    list-style: none;
}

a{
    color:var(--font-color);
    text-decoration: none;
}
.nav-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
}


.nav-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
}

main{
display: flex;
flex-direction: column;
}

.banner{
    background: url("../images/elevate-jNkdYswZ61o-unsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.5s;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--background-color);
}

.ofertas h1{
    font-size: 50px;
    font-weight: 400;
    padding: 50px;
    color: var(--font-color);
}

.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.product img{
    width: 200px;
}

.list-ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.list-ofertas li{
    color: var(--font-color);
}

.list-ofertas p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}