.footer {
  background-color: var(--yellow);
  color: var(--black);
}

.infosFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.infosFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  gap: 20px;
  padding: 20px;
}

.font{
  font-size: 0.75rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon30 {
  height: 30px;
}

.infoShop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.icon50{
  height: 50px;
}

.line1 {
  border-left: 1px solid #261616;
  border-radius: 1px;
  position: absolute;
  height: 200px;
  left: 25%;
}

.line2 {
  border-left: 1px solid #261616;
  border-radius: 1px;
  position: absolute;
  height: 200px;
  left: 50%;
}

.line3 {
  border-left: 1px solid #261616a1;
  border-radius: 1px;
  position: absolute;
  height: 200px;
  left: 75%;
}

.line4 {
  border: 0.5px solid #261616;
}