
.home {
  background-color: var(--background-transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}


.line {
  width: 100%;
  border: 0.5px solid var(--golden-grass-120);
  box-shadow: 0px 1px 10px 3px var(--black);
}

.circle{
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 0;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  cursor: pointer;
}

.productsHome{
  padding: 2rem;
}



.newsLetter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 2rem;
  height: 7rem;
  width: 100%;
  box-shadow: 0px 1px 10px 3px var(--black);
  cursor: pointer;
  background-color: var(--golden-grass-60);
  color: var(--black);
}

.labelNews label {
  text-align: center;
}

.inputNews {
  padding: 0.6rem 2rem;
  border-radius: 5px;
  border-style: none;
}

.btnPortal {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 2rem;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.btnPortal:hover {
  cursor: pointer;
  background-color: var(--golden-grass-60);
  color: var(--golden-grass-180);
}

.brandsComponent{
  padding: 1rem;
}

.txt{
  text-align: center;
  padding: 2rem;
}

.imgLover {
  height: 15rem;
  width: 15rem;
  border-radius: 180px;
}

div> img > p{
  display: flex;
  flex-direction: row;
}

.more{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  gap: 5rem;
}

.craft{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.txtCraft{
  text-align: center;
  font-size: 1rem;
}