.container {
  background-color: var(--golden-grass-180);
  color: var(--white);
  height: 50rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.customInput {
  background-color: var(--golden-grass-180);
  border-style: none;
  border-bottom: 1px solid var(--golden-grass-40);
}
