.productsDetails {
  display: flex;
  flex-direction: column;

  background-color: var(--golden-grass-180);
  min-height: 100vh;
  color: var(--white);
  padding: 0 0 50px 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.zipCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.line {
  width: 100%;
}

.infoAge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--golden-grass-180);
  border-top: 1px solid #dda520;
  padding: 20px 0;
}

.imgProduct {
  box-shadow: 0 0 30px 0.5px var(--black);
  border-radius: 15px;
  height: 500px;
  width: 400px;
  cursor: pointer;
  padding: 20px;
}

.stars {
  height: 15px;
}

.truck {
  height: 30px;
}

.input {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 0 0 10px 0.5px var(--black);
}


/* @keyframes teste {
  from { background-color: var(--white)}
  to{ background-color: var(--black-80)}
}

div {
  animation-name: teste;
  transition: ease-in;
  animation-duration: 5s;
} */

.inputInfo {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
}
