.table {
  background-color: #2f2721;
  color: azure;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: justify;
}

.table-users {
  display: flex;
  flex-direction: column;
  border: solid 1px azure;
  border-radius: 5px;
  padding: 10px;
}

.table-head{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
}