/* :root {
  --background: rgba(241, 131, 58, 0.685);
  --color-header-footer: rgb(255, 255, 255);
}

.nav-bar {
  filter: blur(0.5px);
} */

.header{
  background-color: rgb(20,15,11);
  height: 100px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.logo img{
  height: 100px;
  width: 200px;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  color: white;
}

.font{
  font-size: 1.5rem;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  
}

.icons img{
  width: 30px;
  height: 30px;
}
/* .style-header{
  font-size: 1.2rem;
  font-weight: 400;
  transition: 0.3s;
  text-decoration: none;
  color: azure;
}
.style-header p:hover {
  color: rgb(20, 11, 5);
  cursor: pointer;
}

.nav-bar1 {
  display: flex;
  flex-direction: row;
}

.nav-bar2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
} */
