body {
  background-color: #2f2721;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

h1{
  padding-bottom: 30px;
}

.login{
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.295);
  height: 450px;
  width: 450px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

a{
  text-decoration: none;
  color:  tomato;
}

input{
  border-style: none;
  border-radius: 5px;
  padding: 10px 30px;
}

.btn{
  background-color: tomato;
}

.btn:hover{
  background-color: rgba(255, 99, 71, 0.678);
}

a:hover{
  color: rgba(255, 99, 71, 0.678);
}

span{
  font-size: small;
}


