.card{
  background-color: var(--golden-grass-180);
  border: 1px solid var(--golden-grass-80);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 350px;

  border-radius: 10px;
  box-shadow: 0 0 30px 10px var(--black);
}

.imgCard{
  width: 200px;
  height: 250px;
}

.title{
  color: var(--white);
  font-weight: 500;
}

.description{
  color: var(--white);
  line-height: 25px;
  text-align: center;
  font-size: 400;
}
