.shoppingCart {
  background-color: var(--golden-grass-180);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
}

.infoProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.infoProduct p {
  cursor: pointer;
}

.cartDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.product p {
  padding: 25px;
}

.imgProduct {
  height: 200px;
  border-radius: 5px;
}

.shipping {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.shippingDetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnPayments {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.inputInfo {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0.5px var(--black);
}

.btnPortal {
  background-color: var(--black);
  color: var(--white);
  padding: 8px 50px;
  border-style: none;
  border-radius: 5px;
  transition: color 0.3s, background-color 0.3s;
}

.btnPortal:hover {
  cursor: pointer;
  background-color: var(--golden-grass-60);
  color: var(--golden-grass-180);
}
