.shoppingCart{
  background-color: var(--background-black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.shoppingCart> h1{
  text-align: start;
}

.infoProduct{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 500px;
  gap: 20px;
}

.cartDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  border: 1px solid black;
  width: 80vw;
  height: 400px;
  padding: 20px;
}


.product p{
  padding: 25px;
}

.imgProduct{
  height: 100px;
}

