.shoppingCart{
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 50px;
}

.infoProduct{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.cartDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
}


.product p{
  padding: 25px;
}

.imgProduct{
  height: 200px;
}

.shipping{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.shippingDetails{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnPayments{
  display: flex;
  flex-direction: row;
  justify-content: end;
}