.header {
  background-color: var(--golden-grass-100);
  color: var(--black);
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: -20px 0;
  border-bottom: 1px solid var(--black);
  box-shadow: 0 0 20px 1px var(--black);
  transition: color 0.3s;
  gap: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header a{
  padding: 5px 10px;
  border-radius: 5px;
}


.header h1 {
  transition: color 0.3s;
}

.header h1:hover {
  color: var(--white);
  background-color: var(--golden-grass-160);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
  color: var(--black);
}

.font {
  color: var(--black);
  transition: color 0.3s;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.inputSearch {
  padding: 8px 50px;
  border-radius: 5px;
}
