.main {
  background-color: var(--golden-grass-180);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0 100px 0;
}

.arrowBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.banner {
  padding: 70px;
  margin: 0 100px;
  width: 900px;
}

.line {
  width: 100%;
  border: 0.5px solid var(--golden-grass-120);
  box-shadow: 0px 1px 10px 3px var(--black);
}

.bannerTxt {
  width: 500px;
}

.component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px 0;
}

.msg {
  color: var(--golden-grass-60);
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  /* opacity: 0.5; */
  transition: color 0.3s;
}

.msg h1 {
  padding: 50px 0 50px 0;
  font-size: 5rem;
  text-align: center;
  transition: color 0.3s;
}

.msg:hover {
  color: var(--white);
}

.brands {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 50px 0;
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.txtNews {
  color: var(--white);
  font-size: 2rem;
  font-weight: 400;
  padding: 50px 0 0 0;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}

.imgNews {
  height: 500px;
  padding: 50px 0;
}

.newsLetter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px;
  height: 100px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 3px var(--black);
  cursor: pointer;
  background-color: var(--golden-grass-60);
  color: var(--black);
}

.labelNews label {
  text-align: center;
}

.inputNews {
  padding: 8px 50px;
  border-radius: 5px;

}
