* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

:root {
  --white: #fffafa;
  --background-white: #fcf8ec;
  --yellow: #daa520;
  --orange-dark: #8b4513;
  --brown: #472815;
  --brown-dark: #261616;
  --background-gray: #202024;
  --background-black: #131212;
}

h1 {
  font-size: 1rem;
  font-weight: 400;
}

h2 {
  text-align: center;
  padding: 40px;
  font-size: 3rem;
}

h3,
h4 {
  text-align: center;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
}

